body {
    font-family: 'Open Sans', sans-serif;  
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;;
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    background: rgba(78,190,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,190,254,1)), color-stop(100%, rgba(55,143,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,190,254,1) 0%, rgba(55,143,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebefe', endColorstr='#378fd9', GradientType=1 );   
    padding-top: 60px;
    color: white;
}
.screen {
    display: flex;
    justify-content: space-between;
    padding-bottom: 145px;
    /* margin-top: 60px; */
}
.offer {
    margin-top: 150px;
    width: 580px;
}
h1 {
    font-size: 37px;
    line-height: 49px;
}
h1 span {
    font-size: 59px;
    line-height: 73px;
}
.text {
    font-size: 16px;
    line-height: 27px;
    margin: 45;
    width: 420px;
}
.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background: #ffd429;
    color: #2e2a1b;
    display: block
    width: 222px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
}